.fila-netflix {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 0;
}

.fila-netflix::-webkit-scrollbar {
    display: none;
}

.card-netflix {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    min-width: 200px; 
}

.card-netflix:hover {
    transform: scale(1.05);
    z-index: 10;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
    background-color: rgba(0,0,0,0.5);
    height: 300px;
    top: 20px;
}